:root {
  --bg-progress: #f5d565;
  --bg-complete: #a0ecb1;
  --bg-incomplete: #f7d4d3;
  --bg-to-do: #e3e8ef;
  --bg-add-task: #f5e8d5;
  --card-radius: 12px;
  --card-padding: 1rem;
  --transition-speed: 0.3s;
}


body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 2rem;

}

.board-header {
  display: flex;
  flex: 1 1 auto;
  align-items:flex-start;
  justify-content: space-between;
  gap: 0.25rem;
  padding: 1rem;
  border-radius: 12px;
  /* background-color: #fff; */ /* for Debug*/
  max-width: 600px;
  margin: auto;
}

.board-logo {
  justify-content: flex-start;
  margin: 0.5rem;
  margin-top: 0.25rem;
  /* font-size: 1.5rem; */
  /* color: #333; */
}

.board-text {
  flex: 1 1 auto;
  /* text-align: center; */
}

.board-title {
  display: flex;
  gap: 0.25rem;
  font-size: 2.0rem;
  font-weight: bold;
}
.board-edit-icon {
  align-self: flex-end;
  padding-bottom: 0.5rem;
}

.board-description {
  font-size: 1rem;
  font-weight: bold;
  color: #666;
}


.task-board {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}

.task-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 200px;
  max-width: 600px;
  max-height: 100px;
  background-color: var(--bg-to-do);
  border-radius: var(--card-radius);
  padding: var(--card-padding);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform var(--transition-speed);
}

.task-card:hover {
  transform: translateY(-5px);
}

.task-card.progress { background-color: var(--bg-progress); }
.task-card.complete { background-color: var(--bg-complete); }
.task-card.incomplete { background-color: var(--bg-incomplete); }
.task-card.to-do { background-color: var(--bg-to-do); }
.task-card.add-task { background-color: var(--bg-add-task); }

.task-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  justify-content: flex-start;
}

.task-icon {
  align-self: flex-start;
  background-color: white;
  border-radius: 8px;
  padding: 0.3rem;
  font-size: 1.2rem;
}

.task-status {
  margin-left: auto;
  border-radius: 8px;
  padding: 0.5rem;
}

.status-progress {
  background-color: #e9a23b;
}

.status-complete {
  background-color: #32d657;
}

.status-incomplete {
  background-color: #dd524c;
}

.task-content {
  max-width: 300px;
  font-size: 0.95rem;
  font-weight: normal;
  color: #444;
  line-height: 1.4;
  padding-top: 0.5rem;
}

.author-info {
  font-size: 0.95rem;
  text-align: center;
  margin-top: 1rem;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}